### Import Libraries

In [2]:
import os # Operation System
import re # Regular Expression
import pandas as pd # Pandas

In [3]:
url = "C:/Users/rinlin/Desktop/LaborBureauData"
pattern = re.compile("([0-9]+)")

### Read In Raw Data

In [15]:
file_collections = []
for root, dirs,files in os.walk(url):
    if len(dirs) == 0:
        data = pd.read_excel(root+"/"+files[1])
        data.columns = [col.lower() for col in data]
        data.rename(columns={"occ_titl":"occ_title"},inplace=True)
        try:
            data.rename(columns={"occ_group":"group"},inplace=True)
        except:
            pass
        data = data[['st','state','a_mean','tot_emp','a_median','occ_title','group']]
        data['year'] = pattern.findall(files[1])[0]
        file_collections.append(data)

In [16]:
all_data = pd.concat(file_collections,ignore_index=False)

In [23]:
all_data['group'].fillna("Keep",inplace=True)
all_data = all_data[all_data['group'] == "Keep"]
all_data = all_data[['st','a_mean','tot_emp','occ_title','year']]

In [24]:
all_data[0:5]

   st     a_mean       tot_emp                            occ_title  year
1  AL     100380          6090                     Chief Executives  2000
2  AL      58840         38020      General and Operations Managers  2000
3  AL      17640          1220                          Legislators  2000
4  AL      43050           800  Advertising and Promotions Managers  2000
5  AL      63570          1860                   Marketing Managers  2000

In [25]:
all_data.to_csv("OES1998_2016.csv",index=False)